@import '../../App.scss';
.navbar-container{
    width: 100%;
    background-color: $primary;
    padding: 6px 6px 0px 6px;
    display: flex;
    height: 50px;
    nav{
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        flex-wrap: wrap;

        .navbar-logo{
            margin: auto auto auto 0px;
            padding: 0 0 0 10px;
            text-align: left;
            color: $secondary;

            h3{
                font-size: 24px;
                font-family: $primaryFontStyle;
            }
        }
        .navbar-search-container{
            margin: auto;
            // line-height: 40px;
            // background-color: #fff;
            width: 40%;
            border-radius: 6px;
            overflow: hidden;
            // margin-bottom: 4px;
        }
        ul{
            display: block;
            list-style-type: none;
            
            li{
                display: inline-block;
                width: fit-content;
                text-align: center;
                a{
                    display: block;
                    text-decoration: none;
                    text-align: center;
                    padding: 10px;
                    font-size: 14px;
                    color: $secondary;
                    font-family: $secondaryFontStyle;
                    font-weight: bold;
                }               
            }
        }
        
    }
    .profile-container{
        cursor: pointer;
        .profile-picture{
            width: 35px;
            height: 35px;
            margin-top: 2px;
            line-height: 50px;
            background: #fff;
            border-radius: 50%;
            margin: 0px 4px 0px 4px;
            background-image: url("https://images.unsplash.com/photo-1511367461989-f85a21fda167?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cHJvZmlsZXxlbnwwfHwwfHw%3D&w=1000&q=80");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
}

@media only screen and (max-width: 480px) {
    .navbar-container{
        
        nav{
            flex-direction: column;
            justify-content: center;
            .navbar-logo{
                text-align: center;
                width: 100%;
                height: 50px;
                h3{
                    line-height: 50px;
                }
            }

            ul{
                display: none;
                width: 100%;
                li{
                    width: 100%;
                }
            }
        }
}
}