@import '../../App.scss';

.footer-container{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 12px;
    text-align: center;

    ul{
        // float: right;
        display: block;
        list-style-type: none;
        
        li{
            display: inline-block;
            text-align: center;
            a{
                display: block;
                font-size: 14px;
                text-decoration: none;
                padding: 8px;
                color: rgba(0, 0, 0, 0.7);
                font-family: $secondaryFontStyle;
            }
        }
    }
}
@media only screen and (max-width: 480px) {
    .footer-container{
        ul{
            li{
                display: block;
            }
        }
    }
}