@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


//
$primary: #3d57a3; //Midnight Blue
$secondary: #fff;
//
//creamy yellow #fdd8a4
//Sunburn Red #fc887b
//dusty light blue #94cceo
//Spring Green #dee540

//Header: Montserrat BOLD
// font-family: 'Montserrat', sans-serif;
//Body Copy: Typold Book 500 REGULAR

$primaryFontStyle: 'Montserrat', sans-serif;
$secondaryFontStyle: 'Poppins', sans-serif;

