@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$primary: #3d57a3;
$secondary: #fff;

$primaryFontStyle: 'Audiowide', cursive;
$secondaryFontStyle: 'Poppins', sans-serif;